<form class="form">
    <!-- <label for="first-name">Enter your first name here:</label> -->
    
            <input type="text" name="first-name" placeholder="Full Name" required>
            <input type="email" name="email" placeholder="email" required>
            <input type="phone" name="phone" placeholder="phone" required>
            <textarea type="phone" name="phone" placeholder="Enter your message here" required></textarea>
            <input type="text" placeholder="City">


        
            <input class="button" value="submit" type="button" name="submit" placeholder="Submit" required>
        
            
    
</section>