<form class="form" action="https://formspree.io/prabhavkhandelwal@gmail.com" method="POST">
    <!-- <label for="first-name">Enter your first name here:</label> -->
    
            <input type="text" name="name" placeholder="Full Name" required>
            <input type="email" name="_replyto" placeholder="email" required>
            <input type="phone" name="phone" placeholder="phone" required>
            <textarea type="text" name="message" placeholder="Enter your message here" required></textarea>
            <input type="text" placeholder="City">

            <input class="button" value="submit" type="submit" name="submit" placeholder="Submit" required>
    </form>    
            
    
</section>