<header role="banner" class="">
    
    <nav role="navigation">
            <!-- <div class="nav-icon plus">+</div> -->
            <div class="nav-icon">
                <span class="plus">+</span>
                Menu
            </div>
        <ul class="close">
            <li><a href="/">Home</a></li>
            <li><a href="/what-is-iem">What is IEM?</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/news">IEM News</a></li>
            <li><a href="/doctor">Doctor Resources</a></li>
            <li><a href="/help">Get Help</a></li>
        </ul>
    </nav>
</header>
