body {
	background: white;
	font: {
		family: $font--body;
		size: 85%;
	}
	color: $gray;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;

	overflow-x: hidden;

	@include small { font-size: 90%; }
	@include medium { font-size: 95%; }
	@include large { font-size: 100%; }
}

* {
	transition: 0.25s;
}

h1 {
	font: {
		family: $font--heading;
		size: 3.5em;
		weight: 700;
	}
	color: $maroon;
	line-height: 1.15;

	margin-bottom: 1.25rem;
}

h2 {
	font: {
		family: $font--heading;
		size: 2.55em;
	}
	color: $maroon;
	line-height: 1.15;

	margin-bottom: 1rem;
}

a  {
	color: $maroon;
	text-decoration: underline;

	&:hover, &:focus {
		color: rgba($maroon, 0.6);
	}
	&:active {
		color: $gray;
	}
}

p, ul, ol {
	hyphens: auto;
	word-break: break-word;

	font-size: 1.25em;
	margin-bottom: 1rem;
	line-height: 1.6;
}

p.lead {
	font: {
		family: $font--body;
		size: 2.125em;
	}
	line-height: 1.4;
	// color: $maroon;
	color: $gray;
	margin-bottom: 2rem;
}

a.button {
	border-radius: 10px;
	padding: 1.25rem;
	display: inline-block;
	transition: 0.185s;
	text-decoration: none;

	background: $maroon;
	font: {
		family: $font--heading;
		weight: 700;
		size: 1.325rem;
	}
	color: $pink--light;
	// box-shadow: 5px 5px 0 $pink--dark;
	box-shadow: 5px 5px 0 rgba($maroon, 0.5);

	&:hover, &:focus {
		background: darken($maroon, 5%);
		box-shadow: 5px 5px 0 darken($pink--dark, 5%);
	}

	&:active {
		transform: translate(5px, 5px);
		box-shadow: none;
	}
}


header nav[role="navigation"] {

	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;

	// height: 100vh;
	// padding: 2rem;
	// background: $pink--light;

	// @include medium {
	// 	background: white;
	// }

	.nav-icon {
		position: fixed;
		right: 0;
		top: 0;
		padding: 1rem;

		transition: 0.35s;
		cursor: pointer;
		z-index: 4;
		
		font: {
			weight: 700;
			size: 4.5rem;
			family: $font--heading;
		}
		color: $maroon;

		&.plus {
			transform: rotate(0deg);
		}

		&.turn {
			transform: rotate(135deg);
		}

		@include medium {
			display: none;
		}
	}

	ul {
		list-style: none;
		display: flex;
		flex-flow: column wrap;
		justify-content: flex-end;
		// justify-content: space-around;
		height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  		height: calc(var(--vh, 1vh) * 100);
		
		animation: fadeOut 0.35s;

		background: $pink;

		position: fixed;
		width: 100vw;

		z-index: 2;

		padding: 2rem;

		font: {
			family: $font--heading;
			weight: 700;
			size: 2rem;
		} 
		text-decoration: underline;
		color: $maroon;

		@include medium {
			position: static;

			flex-flow: row nowrap;
			justify-content: space-evenly;
			height: auto;
			font-size: 1.125rem;
			animation: none;
			background: white;
			text-decoration: none;
		}

		&.close {
			display: none;
			// opacity: 0;
			// animation: none;
			animation: fadeOut 0.35s;

			@include medium {
				display: flex;
				animation: none;
			}
		}

		&.open {
			// animation: fadeOut 0.35s;
		animation: fadeIn 0.4s;
		@include medium {
			animation: none;
		}

		}


		li {
			margin-top: 0.75rem;
		}

		li a { text-decoration: none; }
	}
	
}

section.intro {
	display: grid;
	// background: $pink--light;
	// background-image: linear-gradient(to bottom, rgba($pink--light, 0.8), rgba($pink--light, 0.8)), url('../img/baby.png');
	background-attachment: fixed;

	@extend %full-bg;

	// grid-template-columns: repeat(5, 1fr) repeat(3, minmax(1fr, 25vw));
	// grid-template-columns: minmax(1fr, 10vw) repeat(4, 1fr) 10rem 10rem 10rem;
	grid-template-columns: 10vw repeat(6, 1fr) 10vw;
	// grid-template-columns: 10vw repeat(4, 1fr), repeat(3, minmax(1fr, 200px));
	// grid-template-columns: 10vw repeat(4, 1fr);


	// grid-auto-rows: minmax(100px, auto);
	grid-template-areas:     ". hd	hd	hd	hd	hd	hd .";

	@include small {
		grid-template-areas: ". hd	hd	hd	hd	hd	img img";

	}

	@include medium {
		// background: $pink--light !important;

		grid-template-areas: ". hd	hd	hd	.	img	img img";
	}
	
	@include large {
		grid-template-columns: 10vw repeat(4, 1fr);

		grid-template-areas: ".	hd	hd	hd	.	img	img img";
		// grid-template-rows: auto;
	}

	@include x-large {
		grid-template-columns: 10vw repeat(4, 1fr);

		grid-template-areas: ".	hd	hd	.	img img";
	}

	

	

	main {
		grid-area: hd;
		// display: flex;
		// flex-flow: column wrap;
		// justify-content: space-evenly;
		padding: 4rem 0;
		align-items: center;

		h1 {
			margin-bottom: 1rem;
		}

		p.lead {
			width: 100%;

			// @include small { width: 80%; }
			// @include medium { width: 70%; }
			@include x-large { width: 90%; }
		}

		.button {
			margin-top: 1rem;

			@include medium {
				margin-top: 1.725rem;
			}
		}
	}

	figure {
		// grid-column-start: 1; 
		// grid-column-end: 9; 
		// grid-row: 1;
		// opacity: 0.4;
		display: none;

		@include medium {
			grid-area: img;
			opacity: 1;
			display: flex;

		}
		// display: flex;
		flex-direction: column;
		justify-content: center;

		img {
			width: 100%;
		}
	}
}

section.half-grid {

	@include medium {
		display: grid;
		grid-template-columns: 3fr 4fr;
	}

	.faq {
		display: flex;
		flex-direction: column;
		justify-content: space-around;

		.faq-container {
			margin-bottom: 2rem;
		}

		h2 {
			border-left: 10px solid $pink;
			padding-left: 15px;

			&:before {
				// content: '';
				// // height: 2.55rem;
				// height: inherit;
				// width: 10px;
				// background: $pink;
				// display: inline-block;
				// position: relative;
				// left: -10px;
			}
			
		}
	}

	.news {
		background: $pink;

		h1, p.lead {
			text-align: center;
		}

		p.lead {
			color: $gray;
		}

		.post-container {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-around;

			.post {
				width: 45%;
				margin-bottom: 2rem;
				h3 {
					text-align: center;
					font: {
						weight: 700;
						family: $font--heading;
						size: 1.55rem;
					}
					color: $maroon;
					margin-bottom: 1rem;
				}

				img {
					width: 100%;
					height: 250px;
					object-fit: cover;
				}

				p {
					text-align: center;
				}
			}
		}
	}
}

section.process {
	background: $pink--light;

	.lead {
		@include medium {
			width: 80%;
		}
	}

	.chart {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		margin: 5rem 0 3rem;

		.step {
			width: 100%;
			display: flex;
			flex-flow: column wrap;
			justify-content: space-between;
			align-items: center;
			text-align: center;

			margin-bottom: 2.5rem;
			border-bottom: 5px dashed $pink;

			@include medium { width: 40%; border: none; }
			@include large { width: 22.5%; }

			& > * {
				margin-bottom: 1rem;
			}

			.number {
				text-align: center;
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 0 auto 1.25rem;
				width: 75px;
				height: 75px;
				background: $maroon;
				border-radius: 50%;
				border: 5px solid $pink--dark;
				font: {
					weight: 700;
					family: $font--heading;
					size: 2.125em;
				}
				color: $pink--light;
			}

			.heading {
				font: {
					size: 1.45em;
					weight: 600;
				}
				text-transform: uppercase;
			}

			.subtitle {
				font: {
					family: $font--heading;
					size: 1.625rem;
				}
				color: $maroon;
			}

			img {
				margin: 1.25rem 0 2.25rem;
				width: 100%;
				object-fit: cover;
				height: 240px;
			}

			a.button {
				margin-bottom: 2rem;
			}


		}
	}
}

footer {
	padding-bottom: $padding--vertical/2;
	background: $pink;
	// color: white;

	nav[role="navigation"] {
		ul {
			list-style: none;
			background: $pink;
			font-size: 1.125rem;
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-evenly;

			li {
				font-size: 1.125rem;
				font-family: $font--heading;

				a { text-decoration: none; }
			}
		}
	}

	small {
		text-align: center;
		display: block;
		font-weight: 700;
	}
}

// Main article for layout--generic
article.article-body { 
	width: 100%;

	@include large {
		width: 70vw;
	}

	img {
		margin: 2rem auto;
	}

	hr {
		width: 80%;
		border-bottom: 2px dotted $pink--dark;
		margin: 2rem auto;
	}
}