body {
	background: white;
	font: {
		family: $font--body;
		size: 100%;
	}
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

* {
	transition: 0.25s;
}

$padding--horizontal: 5%;
$padding--vertical: 2rem;

$blue: #00adef;

.section {
	padding: $padding--vertical $padding--horizontal;
}

nav[role="navigation"] {

	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;

	// height: 100vh;
	// padding: 2rem;
	// background: $pink--light;

	// @include medium {
	// 	background: white;
	// }

	.nav-icon {
		position: fixed;
		right: 0;
		top: 0;
		padding: 1rem;

		transition: 0.35s;
		cursor: pointer;
		z-index: 4;
		
		font: {
			weight: 700;
			size: 4.5rem;
			family: $font--heading;
		}
		color: $maroon;

		&.plus {
			transform: rotate(0deg);
		}

		&.turn {
			transform: rotate(135deg);
		}

		@include medium {
			display: none;
		}
	}

	ul {
		list-style: none;
		display: flex;
		flex-flow: column wrap;
		justify-content: flex-end;
		height: 100vh;
		animation: fadeOut 0.35s;

		background: $pink;

		position: absolute;
		width: 100vw;

		z-index: 2;

		padding: 2rem;

		font: {
			family: $font--heading;
			weight: 700;
			size: 2rem;
		} 
		text-decoration: underline;
		color: $maroon;

		

		@include medium {
			position: static;

			flex-flow: row nowrap;
			justify-content: space-around;
			height: auto;
			font-size: 1.125rem;
			animation: none;
			backgorund: white;
		}

		&.close {
			display: none;
			// opacity: 0;
			// animation: none;
			animation: fadeOut 0.35s;

			@include medium {
				display: flex;
				animation: none;
			}
		}

		&.open {
			// animation: fadeOut 0.35s;
		animation: fadeIn 0.4s;
		@include medium {
			animation: none;
		}

		}


		li {
			margin-top: 0.75rem;
		}
	}
	
}
