<!doctype html>
<html lang="en">
    <head>
        {% include head.html %}
<script>
    
</script>
    </head>
    <body>
        {% include header.html %}

        <section class="intro">
            <main>
                
                        <h1>Save a new life from preventable, fatal disease.</h1>
                        <p class="lead">1 in 100 children in India are born with <a href="#">Inborn Errors of Metabolism</a>.</p>
                
                
                <a href="#" class="button">Get your baby tested today</a>
            </main>
            <figure>
                <img src="{{ site.baseurl }}/assets/img/baby.png" alt="">
            </figure>
        </section>

        {{ content }}

        {% include footer.html %}
        {% include analytics.html %}
        <script src="//localhost:35729/livereload.js"></script>
        
        <!-- Scripts -->

        <script src="{{site.baseurl}}/assets/js/production.min.js"></script>
    
    </body>
</html>
